.key{
    width:100%;
    height:50%;
}
#do{
   position: relative;
   width:14.4%;
   height:50%;
   float:left;
}
#re{
    position: relative;
    width:14.4%;
    height:50%;
    float:left;
 }
 #mi{
    position: relative;
    width:14.4%;
    height:50%;
    float:left;
 }
 #fa{
    position: relative;
    width:14.4%;
    height:50%;
    float:left;
 }
 #so{
    position: relative;
    width:14.4%;
    height:50%;
    float:left;
 }
 #la{
    position: relative;
    width:114.4%;
    height:50%;
    float:left;
 }
 #si{
    position: relative;
    width:14.4%;
    height:50%;
    float:left;
 }
 .lab{
    width: 14%; 
    float:left; 
    text-align: center;
 }
 #littlestarstar{
    position: relative;
    width:15%;
    height:50%;
    float:left;
 }
