.key{
    width:100%;
    height:50%;
}
button{
   position: relative;
   width:15%;
   height:150px;
   float:left;
}
 .lab{
    width: 14%; 
    float:left; 
    text-align: center;
 }
 #littlestarstar{
    position: relative;
    width:15%;
    height:50%;
    float:left;
 }
 #sp{
    position: relative;
    width:15%;
    height:50%;
    float:left;
 }