html {
	font-family: Microsoft JhengHei;
}

#title {
	display: block;
	margin-top: 50px;
	font-size: 35px;
	color: #66DD00;
	font-weight: bold;
	text-align: center;
}

#content {
	width: 100%;
	padding: 40px;
	height: 40em;
	float: left;
	margin:0px auto;
	text-align: center;
}
.analogclass {
	display: block;
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 120px;
	margin: 0 auto;
}
.analogsensor {
	height: 80px;
	width: auto;
	margin-top: 20px;
	margin-left: 20px;
}

.analogvalue {
	font-size: 26px;
	float: right;
	margin-top: 44px;
	margin-right: 40px;
}
#auto{
	width:50%;
	font-size:20px;
}
#open{
	width:50%;
	height:25px;
	font-size:20px;
	float:left;
}
#close{
	width:50%;
	height:25px;
	font-size:20px;
	float:right;
}